[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=About MX-Fluxbox
Name[am]=About MX-Fluxbox
Name[ar]=About MX-Fluxbox
Name[bg]=About MX-Fluxbox
Name[ca]=About MX-Fluxbox
Name[cs]=About MX-Fluxbox
Name[da]=About MX-Fluxbox
Name[de]=About MX-Fluxbox
Name[el]=About MX-Fluxbox
Name[es]=About MX-Fluxbox
Name[et]=About MX-Fluxbox
Name[eu]=About MX-Fluxbox
Name[fa]=About MX-Fluxbox
Name[fi]=About MX-Fluxbox
Name[fr]=About MX-Fluxbox
Name[he_IL]=About MX-Fluxbox
Name[hi]=About MX-Fluxbox
Name[hr]=About MX-Fluxbox
Name[hu]=About MX-Fluxbox
Name[id]=About MX-Fluxbox
Name[is]=About MX-Fluxbox
Name[it]=About MX-Fluxbox
Name[ja]=About MX-Fluxbox
Name[kk]=About MX-Fluxbox
Name[ko]=About MX-Fluxbox
Name[lt]=About MX-Fluxbox
Name[mk]=About MX-Fluxbox
Name[mr]=About MX-Fluxbox
Name[nb]=About MX-Fluxbox
Name[nl]=About MX-Fluxbox
Name[pl]=About MX-Fluxbox
Name[pt_BR]=About MX-Fluxbox
Name[pt]=About MX-Fluxbox
Name[ro]=About MX-Fluxbox
Name[ru]=About MX-Fluxbox
Name[sk]=About MX-Fluxbox
Name[sl]=About MX-Fluxbox
Name[sq]=About MX-Fluxbox
Name[sr]=About MX-Fluxbox
Name[sv]=About MX-Fluxbox
Name[tr]=About MX-Fluxbox
Name[uk]=About MX-Fluxbox
Name[zh_CN]=About MX-Fluxbox
Name[zh_TW]=About MX-Fluxbox
Comment=Display about box forMX-Fluxbox
Comment[am]=Display about box for MX-Fluxbox
Comment[ar]=Display about box for MX-Fluxbox
Comment[bg]=Display about box for MX-Fluxbox
Comment[ca]=Display about box for MX-Fluxbox
Comment[cs]=Display about box for MX-Fluxbox
Comment[da]=Display about box for MX-Fluxbox
Comment[de]=Display about box for MX-Fluxbox
Comment[el]=Display about box for MX-Fluxbox
Comment[es]=Display about box for MX-Fluxbox
Comment[et]=Display about box for MX-Fluxbox
Comment[eu]=Display about box for MX-Fluxbox
Comment[fa]=Display about box for MX-Fluxbox
Comment[fi]=Display about box for MX-Fluxbox
Comment[fr]=Display about box for MX-Fluxbox
Comment[he_IL]=Display about box for MX-Fluxbox
Comment[hi]=Display about box for MX-Fluxbox
Comment[hr]=Display about box for MX-Fluxbox
Comment[hu]=Display about box for MX-Fluxbox
Comment[id]=Display about box for MX-Fluxbox
Comment[is]=Display about box for MX-Fluxbox
Comment[it]=Display about box for MX-Fluxbox
Comment[ja]=Display about box for MX-Fluxbox
Comment[kk]=Display about box for MX-Fluxbox
Comment[ko]=Display about box for MX-Fluxbox
Comment[lt]=Display about box for MX-Fluxbox
Comment[mk]=Display about box for MX-Fluxbox
Comment[mr]=Display about box for MX-Fluxbox
Comment[nb]=Display about box for MX-Fluxbox
Comment[nl]=Display about box for MX-Fluxbox
Comment[pl]=Display about box for MX-Fluxbox
Comment[pt_BR]=Display about box for MX-Fluxbox
Comment[pt]=Display about box for MX-Fluxbox
Comment[ro]=Display about box for MX-Fluxbox
Comment[ru]=Display about box for MX-Fluxbox
Comment[sk]=Display about box for MX-Fluxbox
Comment[sl]=Display about box for MX-Fluxbox
Comment[sq]=Display about box for MX-Fluxbox
Comment[sr]=Display about box for MX-Fluxbox
Comment[sv]=Display about box for MX-Fluxbox
Comment[tr]=Display about box for MX-Fluxbox
Comment[uk]=Display about box for MX-Fluxbox
Comment[zh_CN]=Display about box for MX-Fluxbox
Comment[zh_TW]=Display about box for MX-Fluxbox
Exec=about-mx-fluxbox
Icon=mxflux
NoDisplay=false
Categories=Settings;DesktopSettings;
#OnlyShowIn=Fluxbox;
NotShowIn=XFCE;KDE;
# vi:set encoding=UTF-8:
